<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>cmt</comment>
<entry key="dateTime">2022-08-31 10:14:25</entry>
<entry key="db_max_connections">100</entry>
<entry key="system_mysql_mysqldump_folder">D:\NAM\MariaDB\bin</entry>
<entry key="dbName">jdbc:mysql://192.168.1.33:3306/stpv1_hn27032019</entry>
<entry key="latestBUTime">2022-08-31-13-54</entry>
<entry key="system_backup_os">0</entry>
<entry key="password">123456</entry>
<entry key="database">stpv1_hn27032019</entry>
<entry key="system_backupTable_database_folder">D:/Nam/OSP/backup/backupTable/</entry>
<entry key="data_directory">C:/store</entry>
<entry key="dateEffect">5</entry>
<entry key="host">192.168.1.33</entry>
<entry key="timeBackupFileData">10:14</entry>
<entry key="startTime">2020-01-01</entry>
<entry key="timeBackup">10:31</entry>
<entry key="fileDataBUWithTime">npo_transaction_property</entry>
<entry key="system_backupAll_database_folder">D:/Nam/OSP/backup/backupAll/</entry>
<entry key="processCount">1000</entry>
<entry key="userName">root</entry>
<entry key="system_backup_database_folder">D:/Nam/OSP/backup/</entry>
<entry key="driver">com.mysql.jdbc.Driver</entry>
<entry key="datesConfig">true true true true true true true</entry>
<entry key="port">3306</entry>
<entry key="timeRemoveFileBU">7:18</entry>
<entry key="endTime">2021-07-31</entry>
<entry key="status">true</entry>
</properties>
